<style>
  ._my_block {
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>
<div class="_my_block">
  {% render 'box' %}
</div>
{% schema %}
  {
    "name": "B2B Membership",
    "target": "section",
    "stylesheet": "styles.css",
    "settings": []
  }
{% endschema %}