<style>
  ._my_embed_block {
    position: fixed;
    bottom: 0;
    right: 0;
  }
</style>
<div class="_my_embed_block">
  {% render 'box' %}
</div>
{% schema %}
  {
    "name": "B2B Membership",
    "target": "body",
    "stylesheet": "styles.css",
    "settings": []
  }
{% endschema %}